:root {
    --border: 1px solid rgba(0, 0, 0, 0.1);
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 100px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 800px;
}

aside {
    width: 320px;
    margin: 2px;
    border: var(--border);
    padding: 15px;
    background-color: #000;
    color: #fff;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 20px;
    border-top: var(--border);
    text-align: center;
}